<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %} - Todo list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <header>
        <h1>Lista de Tareas 📝</h1>
        <div class="opcion" > 
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>                
        </div>
    </header>

    <section>
        {% if g.user %}
            <div class="user">
                <h3>{{ g.user["username"] }}</h3>
                <img src="{{url_for('static', filename='./img/perfil.png')}}" width="80px" height="80px">
            </div>
            
        {% endif %}
        <div class="content accion" >
            <div>
                {% block content %}
                    {% if  g.user %}
                    
                    {% else %}
                        <div>{% block header %}{% endblock %}</div>
                    {% endif %}
    
                {% endblock %}
            </div>   
        </div>    
        
    </section>

    <footer>
        <p>Desarrollado por Roldan Franco - 2022</p>
    </footer>


</body>
</html>