<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %} - Todo list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <header>
        <h1>Lista de Tareas</h1>
    </header>

    <section>
        {% if g.user %}
            <div class="user">
                <img src="{{ url_for('static', filename='./img/perfil.png') }}">
                <span>{{ g.user["username"] }}</span>
            </div>
        {% endif %}
        
        <div class="content accion" >
            <div>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}


                {% block content %}
                    {% if  g.user %}
                    
                    {% else %}
                        <div>{% block header %}{% endblock %}</div>
                    {% endif %}
    
                {% endblock %}
            </div>   
            {% block navegacion %}
            
            {% endblock %}
            
        </div>    
        
    </section>

    <footer>
        <p>Desarrollado por Roldan Franco - 2022 - <a href="https://www.flaticon.es/iconos-gratis/persona" title="persona iconos">Persona iconos creados por Freepik - Flaticon</a> </p>
    </footer>


</body>
</html>