<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet"> 
    <title>TodoApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('auth.register') }}">Registrate</a>
        <a href="{{ url_for('auth.login') }}">Inicia Sesión</a>
    </nav>
    <div class="home">
        <div class="text">   
            <h1>App de tareas pendientes</h1>
            <p>Un pequeña aplicación para gestionar tus tareas de forma muy sencilla</p>
            <p></p>
        </div>
        <div class="img">
            <img class="img-home" src="{{ url_for('static', filename='./img/img-home.png') }}" width="500" >    
        </div>
    </div>
    
    
    <footer>
        <p>Desarrollado por Roldan Franco - 2022</p>
    </footer>


</body>
</html>