{% extends "base.html"%}


{% block content %}
    {% block header %}
        <h1 class="title">{% block title %} Mis Tareas {% endblock %}</h1>
        {% if g,user %} 
            <a class="action" href="{{ url_for('todo.create') }}"><img src="{{url_for('static', filename='./img/agregar.png')}}" width="30px" height="30px"> Nueva Tarea</a>
        {% endif %}

    {% endblock %}
    
    <ul>
        {% for todo in todos %}
            <li class="tarea" type="none">
                <div>
                    <h3>
                        {% if todo["completed"] == 1 %}
                           <span>✅ <s>{{ todo["description"] }}</s> </span> 
                        {% else %}
                           <span>🔳 {{ todo["description"] }}</span> 
                        {% endif %}
                    </h3>
                    <div class="about">{{ todo["created_at"].strftime("%d-%m-%Y") }}</div>
                    <a class="editar" href="{{ url_for('todo.update', id=todo['id']) }}"><img src="{{url_for('static', filename='./img/editar.png')}}" width="30px" height="30px"></a>
                </div>
            </li>
            {% if not loop.last %}
            {% endif %}
        {% endfor %}
    </ul>  
    
{% endblock %}
