body{
    background-color: #4D505F;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
nav{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
}
nav a{
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover{
    background-color: #555;
    color:#8BC34A;
}
.home{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
    color:#8BC34A;
    text-shadow: 0.1em 0.1em 0.2em #222;    
}
.text p{
    color:#aaa;
    width: 550px;
    text-align: justify;
}
.text{
    animation: entrada
                    .8s ease;
}
.img{
    animation: entradaimg
                    .8s ease;
}

footer{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color:#fff;
    width: 100%;
    font-size: small;
    text-align: center;
}

@keyframes entrada {
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes entradaimg {
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0);
    }
}
@media (max-width: 768px){

    nav{
        justify-content: center;
    }
    .home{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text, .img{
        margin-bottom: 30px;
        width:100%;
        animation: none;
    }
    .img img{
        width: 100%;
    }
    .text h1{
        margin:0;
        margin-bottom: 30px;
        text-align: center;
        width:100%;
    }
    .text p{
        width: auto;
        margin: 0 10px 0 10px;
    }
}